In [ ]:
# importing libraries
import pandas as pd
import requests
from sodapy import Socrata

In [9]:
socrata_domain = 'data.cityofnewyork.us'
client = Socrata(
    socrata_domain,
    app_token=None,
    timeout=100
)
print(client)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

<sodapy.socrata.Socrata object at 0x1288086b0>

In [10]:
print(f'type: {type(client)}')

type: <class 'sodapy.socrata.Socrata'>

In [11]:
for key, value in client.__dict__.items():
    print(f'{key}: {value}')

domain: data.cityofnewyork.us
session: <requests.sessions.Session object at 0x128808a40>
uri_prefix: https://
timeout: 100

In [38]:
import sys
print(sys.executable)  # should be /Users/shohruz/Air-Quality-Analysis/venv/bin/python3

/usr/local/bin/python3

In [39]:
import sys, certifi, requests, pandas as pd
print("sys.executable:", sys.executable)   # should show /usr/local/bin/python3

# quick SSL + data test
url = "https://data.cityofnewyork.us/resource/c3uy-2p5r.json?$limit=5"
resp = requests.get(url, verify=certifi.where(), timeout=20)
resp.raise_for_status()
df = pd.DataFrame.from_records(resp.json())
print(df.shape)
df.head()

sys.executable: /usr/local/bin/python3
(5, 11)

,unique_id,indicator_id,name,measure,measure_info,geo_type_name,geo_join_id,geo_place_name,time_period,start_date,data_value
0,874903,365,Fine particles (PM 2.5),Mean,mcg/m3,CD,306,Park Slope and Carroll Gardens (CD6),Summer 2023,2023-06-01T00:00:00.000,9.21308071
1,874392,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF34,206,Borough Park,Summer 2023,2023-06-01T00:00:00.000,8.616311108
2,877200,375,Nitrogen dioxide (NO2),Mean,ppb,CD,313,Coney Island (CD13),Summer 2023,2023-06-01T00:00:00.000,8.914378523
3,874837,365,Fine particles (PM 2.5),Mean,mcg/m3,CD,406,Rego Park and Forest Hills (CD6),Summer 2023,2023-06-01T00:00:00.000,8.719093414
4,877179,375,Nitrogen dioxide (NO2),Mean,ppb,CD,306,Park Slope and Carroll Gardens (CD6),Summer 2023,2023-06-01T00:00:00.000,13.8400048

In [41]:
# pip install requests certifi
import io
import pandas as pd
import requests
import certifi

url = 'https://data.cityofnewyork.us/resource/c3uy-2p5r.json?$limit=50000'

resp = requests.get(url, verify=certifi.where())
resp.raise_for_status()
df = pd.read_json(io.StringIO(resp.text))
print(df.shape)
df.head()

(18862, 11)

,unique_id,indicator_id,name,measure,measure_info,geo_type_name,geo_join_id,geo_place_name,time_period,start_date,data_value
0,878218,386,Ozone (O3),Mean,ppb,UHF42,402,West Queens,Summer 2023,2023-06-01T00:00:00.000,34.365989
1,876975,375,Nitrogen dioxide (NO2),Mean,ppb,UHF42,501,Port Richmond,Summer 2023,2023-06-01T00:00:00.000,11.331992
2,876900,375,Nitrogen dioxide (NO2),Mean,ppb,UHF42,207,East Flatbush - Flatbush,Summer 2023,2023-06-01T00:00:00.000,12.020333
3,877140,375,Nitrogen dioxide (NO2),Mean,ppb,CD,205,Fordham and University Heights (CD5),Summer 2023,2023-06-01T00:00:00.000,14.123178
4,874556,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF34,410,Rockaways,Summer 2023,2023-06-01T00:00:00.000,8.150637

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18862 entries, 0 to 18861
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   unique_id       18862 non-null  int64
 1   indicator_id    18862 non-null  int64
 2   name            18862 non-null  object
 3   measure         18862 non-null  object
 4   measure_info    18862 non-null  object
 5   geo_type_name   18862 non-null  object
 6   geo_join_id     18862 non-null  int64
 7   geo_place_name  18862 non-null  object
 8   time_period     18862 non-null  object
 9   start_date      18862 non-null  object
 10  data_value      18862 non-null  float64
dtypes: float64(1), int64(3), object(7)
memory usage: 1.6+ MB

AttributeError: 'list' object has no attribute 'keys'